@tailwind base;
@tailwind components;
@tailwind utilities;



.background_hero {
  overflow: hidden;
  background-image: url("/bg-hero.png");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  width: 100%;
  height: 100vh;
  
}

@media (min-width: 594px) {
  .background_hero {
    background-image: url("/bg_hero.png");
    background-size: cover; 
    background-position: center; 
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
}
